        <div id="exampleModal" class="modal showModalDialog " tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel">
            <div class="login-content">
                <!-- <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
        </div> -->
                <div style="position: center; margin-top: -7rem; ">
                    <div class='loader spinner-box' style="margin-left: -2rem; margin-top: -4rem;"></div>
                    <div class="modal-body home-midle-content" style="margin-top: 26rem; text-align: center;">
                        <span class="modal-response"> {{modalBody}} </span>
                    </div>     
                </div>
            </div>
        </div>
